/**********************************************
          General
***********************************************/

* {
  box-sizing: border-box;
  margin: 0px;
}

a {
  text-decoration: none;
}

button {
  outline: none;
}

/**********************************************
          Body
***********************************************/

body  {
  height: 100%;
  width: 100%;
  max-width: 1450px;
  font-family: 'Roboto', sans-serif;
  margin: auto;
  background: #FFF;
}

/**********************************************
          Slider Navigation on menu click
***********************************************/

/**********************************************
          Header
***********************************************/

header  {
  width: 100%;
  height: 137px;
  position: relative;
}

.header-left-cont  {
  width: 300px;
  height: 80px;
  background: #FFFFFF;
  position: absolute;
  top: 6px;
  left: 30px;
  background-image: url('./Assets/SVGs/TEN-logo.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.header-right-cont  {
  width: 100%;
  height: 88px;
}

/* header upper nav */
.header-upper-nav,
.header-lower-nav  {
  width: 100%;
  height: 44px;
  float: right;
}

.header-upper-nav {
  padding-right: 15px;
}

.header-upper-nav-con {
  width: 46px;
  height: 90%;
  float: right;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: .5s;
}

.menu-nav-con {
  display: none;
}

.upper-nav-image  {
  fill: #2399a6;
}

.upper-nav-title  {
  font-size: 10px;
  color: #aaaaaa;
  margin-top: 4px;
}

.header-upper-nav-con:hover {
  cursor: pointer;
  background: #aaaaaa;
  border-radius: 10px;
  opacity: .4;
  color: #FFFFFF;
}

.header-upper-nav-con:hover .upper-nav-image {
  fill: #FFFFFF;
}

.header-upper-nav-con:hover .upper-nav-title {
  color: #FFFFFF;
}

/*   header lower nav  */
.lower-nav-titles {
  float: right;
  font-size: 14px;
  line-height: 50px;
  margin: 0 20px 0 20px;
  transition: .5s;
}

.lower-nav-titles:hover {
  cursor: pointer;
  color: #2399a6;
}

.header-lower-nav {
  padding-right: 5px;
}

/*  header lower container */
.header-lower-con  {
  width: 100%;
  height: 50px;
  background: #aaaaaa;
  box-shadow:  0 8px 6px -6px #aaaaaa;
}

.search-input {
  width: 237px;
  height: 35px;
  margin: 7.5px 0 0 112px;
  padding-left: 10px;
  border: none;
  display: inline-block;
}

.search-button  {
  width: 131px;
  height: 36px;
  font-size: 14px;
  background: #2399a6;
  border: none;
  border-radius: 3px;
  color: white;
  margin: 0 64px 0 18px;
  display: inline-block;
  transition: .5s;
}

.search-button:hover  {
  cursor: pointer;
  box-shadow: 1px 1px 15px white;
}

.nav-titles {
  font-size: 14px;
  color: #FFFFFF;
  text-decoration: underline;
  display: inline-block;
  margin: 0 24px 0 24px;
  transition: .5s;
}

.nav-titles:hover {
  cursor: pointer;
  color: #2399a6;
}


/**********************************************
          Main
***********************************************/

.realtor-contact-con  {
  width: 100%;
  height: 360px;
  background: #eeeeee;
  display: flex;
}

/* profile picture container */
.profile-picture  {
  width: 237px;
  height: 360px;
  margin-left: 112px;
  background-image: url('./Assets/Realtor Image/saramortensun.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*  name and contect me container */
.name-con {
  width: 225px;
  height: 360px;
  margin-left: 88px;
}

.realtor-name {
  font-size: 30px;
   font-weight: 100;
   margin: 91px 0 0 0px;
}

.registered-realtor {
  font-size: 12px;
  margin: 6px 0 0 0;
  color: #aaaaaa;
  font-weight: 100;
}

.contact-button {
  width: 225px;
  height: 36px;
  font-size: 14px;
  background: #2399a6;
  border: none;
  border-radius: 3px;
  color: white;
  margin: 24px 0 0 0;
  transition: .5s;
}

.contact-button:hover  {
  cursor: pointer;
  box-shadow: 1px 1px 15px green;
}

.social-media-con {
  width: 225px;
  height: 36px;
  margin: 20px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.social-media-icon  {
  transition: .5s;
}

.social-media-icon:hover  {
  cursor: pointer;
  fill: #2399a6;
  transform: scale(1.2);
}

/* contact info container*/
.contact-info-con {
  width: 225px;
  height: 360px;
  margin-left: 88px;
  padding-top: 88px;
}

.contact-con  {
  width: 225px;
  height: 28px;
  margin: 5px 0 0 0;
  display: flex;
  align-items: center;
}

.contact-icon   {
  fill: #2399a6;
  margin: 0 14px 0 0;
}

.phone-num  {
  margin: 0 0 0 4px;
}

.contact-title  {
  color: #2399a6;
}

/***************************************
media query 1000
****************************************/

@media screen and (max-width: 1000px) {

  .nav-titles {
    margin: 0 14px 0 14px;
  }

  .search-input {
    width: 202px;
    margin: 7.5px 0 0 65px;
  }

  .search-button  {
    width: 108px;
    margin-right: 36px;
  }

  /*  name and contact me container */
  .realtor-contact-con {
    height: 270px;
  }

  .name-con {
    height: 270px;
    margin-left: 77px;
  }

  .contact-info-con {
    height: 270px;
    padding-top: 36px;
    margin-left: 45px;
  }

  .profile-picture  {
    width: 203px;
    height: 270px;
    margin-left: 66px;
  }

  .realtor-name {
    margin-top: 44px;
  }

  .contact-button {
    width: 185px;
  }

  .social-media-con {
    width: 185px;
  }

}


/***************************************
media query 805
****************************************/

@media screen and (max-width: 805px) {

  .header-lower-nav {
    display: none;
  }

  .header-right-cont  {
    height: 50px;
  }

  .header-left-cont {
    width: 190px;
    height: 50px;
    top: 0px;
    left: 0px;
    background-size: 88%;
  }

  .menu-nav-con {
    display: flex;
  }

  .header-upper-nav {
    padding-right: 0px;
  }

  .search-input {
    margin-left: 12px;
  }

  .search-button  {
    margin-right: 4px;
  }

  .nav-titles {
    font-size: 12px;
    margin: 0 5px 0 10px;
  }

}


/***************************************
media query 640
****************************************/

@media screen and (max-width: 640px) {

  .header-left-cont  {
    width: 83px;
    height: 50px;
    background-image: url('./Assets/SVGs/TEN-logo-mark.svg');
    background-size: 66%;
  }

  .nav-titles {
    display: none;
  }

  .header-lower-con {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-button  {
    width: 68px;
    height: 35px;
    font-size: 0px;
    margin: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-image: url('./Assets/SVGs/search.svg');
    fill: #FFFFFF;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
  }

  .search-input {
    margin: 0px;
  }


}
